---
---
@charset "utf-8";

@import "sass/utilities/initial-variables";
@import "sass/utilities/functions";

$blue: steelblue;
$primary: $blue;
$arrow-size: .33rem;

$family-sans-serif: "Raleway", "serif";
$family-monospace: "Inconsolata", "monospace";
$code: $black;
$background: $white;
$title-weight: $weight-normal;	
$title-size: $size-2;	

@import "bulma";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#not-footer {
    flex: 1;
    margin-bottom: 1.5rem;
}

.logo{
    border-left: $white solid 1px;
    border-bottom: $white solid 1px;
    position: relative;
    padding: .1em .33em;
    display: inline-block;

    &::before {
        content: "";
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: -$arrow-size;
        left: -$arrow-size;
        border-left: $arrow-size solid transparent;
        border-right: $arrow-size solid transparent;
        border-bottom: $arrow-size solid $white;
    }

    &::after {
        content: "";
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -$arrow-size;
        bottom: -$arrow-size;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: $arrow-size solid $white;
    }
}

.prose {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.frontnav{
    padding-top: 1.5rem;
    .card{height: 100%;}
}

pre.highlight{
    border-left: 1px solid $blue;
    padding: 1rem 0 1rem 1rem;
}

@media only screen and (min-width: $desktop){
    .footnotes {
        &>ol>li{
            position: absolute;
            margin-left: 3rem;
            padding-right: 1rem;
            width: 15rem;
            font-size: .9rem;
            &>p{
                font-size: .9rem;
            }
        }
    }
}
.reversefootnote{
    @extend .is-hidden-desktop;
}
