<article class="prose">
    <header class="prose-header">
        <h1 class="prose-title"><a href="{{include.post.url}}">{{include.post.title}}</a></h1>
        <span class="level is-mobile">
            <span class="level-left">
                <p class="level-item is-italic">{{include.post.date | date: "%-d %B %Y"}}</p>
            </span>
            <span class="level-right">
                <a class="level-item" href="http://www.facebook.com/sharer/sharer.php?u={{include.post.url | prepend: site.url}}&title={{include.post.title }}" target="_blank">
                    <span class="icon is-medium"><i class="fab fa-lg fa-facebook"></i></span>
                </a>
                <a class="level-item" href="http://twitter.com/intent/tweet?status={{ include.post.title }}+{{include.post.url | prepend: site.url}}" target="_blank">
                    <span class="icon is-medium"><i class="fab fa-lg fa-twitter"></i></span>
                </a>
                <a class="level-item" href="mailto:?subject={{ include.post.title }}&body={{ include.post.title }}: {{include.post.url | prepend: site.url}}" target="_blank">
                    <span class="icon is-medium"><i class="fas fa-lg fa-envelope"></i></span>
                </a>
            </span>
        </span>
    </header>
    <div class="content">
        {{ include.post.content }}
    </div>
</article>
