// Colors
$blue: steelblue;
$white: white;

$primary: $blue;
$alternate: $white;

$font-color: #222;

// Media Queries

$small: 0;
$medium: 40em;
$large: 64em;

// Other

$accent-border: .15em solid $primary;
