// Colors
$blue: steelblue;
$white: white;

$primary: $blue;
$alternate: $white;

$font-color: #222;

// Font
$header-font: Raleway, sans; 
$normal-font: Open Sans, sans;
$fixed-font:  Inconsolata, monospace;

// Media Queries

$small: 0;
$medium: 40em;
$large: 64em;

// Other

$accent-border: 2px solid $primary;
