---
layout: nonpost
title: My Work
permalink: "/work/"
---

<h2>Programming Projects</h2>

<table class="table">
  <thead>
    <tr>
      <th class="has-text-centered">Project</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for project in site.data.work.coding %}
    <tr>
      <td class="has-text-centered"><a href="{{project.url}}" target="_blank">{{ project.name }}</a></td>
      <td>{{ project.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Published Research</h2>
<ul>
  {% for work in site.data.work.published %}
  <li>
    {{ work.author }}.
    {{ work.year }}.
    &ldquo;{{ work.title }}.&rdquo;
    <i>{{ work.journal}}</i>
    {{ work.volume }}
    ({{ work.issue }}):
    {{  work.pages }}.
    {% if work.url %}<a href="{{ work.url }}" target="_blank">{{ work.url }}</a>{% endif %}
  </li>
  {% endfor %}
</ul>

<h2>Reports, Working Papers, and Testimony</h2>
<ul>
  {% for work in site.data.work.working_papers %}
  <li>
    {{ work.author }}.
    {{ work.year }}.
    &ldquo;{{ work.title }}.&rdquo;
    {% if work.type %}<i>{{ work.type }},</i>{% endif %}
    {{ work.institution }},
    {{ work.month }}{% if work.day %} {{ work.day }}{% endif %}.
    {% if work.url %}<a href="{{ work.url }}" target="_blank">{{ work.url }}</a>{% endif %}
  </li>
  {% endfor %}
</ul>

<h2>Policy Briefs</h2>
<ul>
  {% for work in site.data.work.briefs %}
  <li>
    {{ work.author }}.
    {{ work.year }}.
    &ldquo;{{ work.title }}.&rdquo;
    {% if work.type %}<i>{{ work.type }},</i>{% endif %}
    {{ work.month }}{% if work.day %} {{ work.day }}{% endif %}.
    {% if work.url %}<a href="{{ work.url }}" target="_blank">{{ work.url }}</a>{% endif %}
  </li>
  {% endfor %}
</ul>

<h2>Short-Form Works</h2>
<ul>
  {% for work in site.data.work.short %}
  <li>
    {{ work.author }}.
    {{ work.year }}.
    &ldquo;{{ work.title }}.&rdquo;
    {% if work.type %}<i>{{ work.type }},</i>{% endif %}
    {{ work.month }}{% if work.day %} {{ work.day }}{% endif %}.
    {% if work.url %}<a href="{{ work.url }}" target="_blank">{{ work.url }}</a>{% endif %}
  </li>
  {% endfor %}
</ul>
