<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{{ site.description }}">
      <link rel="icon" type="image/png" href="/favicon.png">
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <!--[if lte IE 8]>
          <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
      <![endif]-->
      <!--[if gt IE 8]><!-->
          <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--<![endif]-->
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
      <!-- <link rel="stylesheet" href="{{ "/css/syntax/github.css" | prepend: site.baseurl }}"> -->
      <link rel="stylesheet" href="{{ "/css/syntax/friendly.css" | prepend: site.baseurl }}">
      <!-- <link rel="stylesheet" href="{{ "/css/syntax/default.css" | prepend: site.baseurl }}"> -->
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <div id="not-footer">
        {{content}}
      </div>
      <footer id="main-footer">
        <p>Follow me on</p>
        <ul class="footer-links">
          <li><a href="http://twitter.com/OliverSherouse" target="_blank"><span class="fa fa-twitter"></span>&nbsp;Twitter</a></li>
          <li><a href="https://www.linkedin.com/pub/oliver-sherouse/24/417/1a2" target="_blank"><span class="fa fa-linkedin"></span>&nbsp;LinkedIn</a></li>
          <li><a href="https://github.com/OliverSherouse" target="_blank"><span class="fa fa-github"></span>&nbsp;Github</a></li>
        </ul>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/js/main.js"> </script>
  </body>

</html>
