---
layout: base
---
<header class="hero is-primary is-medium">
    <hgroup class="hero-body has-text-centered">
        <h1 class="title is-1 is-spaced"><div class="logo">Oliver Sherouse</div></h1>
        <h2 class="subtitle is-3">at the intersection of public policy and data science</h2>
    </hgroup>
</header>
<section class="container">
    <nav class="frontnav columns is-tablet">
        <div class="column">
            <a href="/blog" class="box card">
                <header class="card-header">
                    <h2 class="card-header-title">Blog</h2>
                    <span class="card-header-icon">
                        <i class="fas fa-bullhorn"></i>
                    </span>
                </header>
                <p class="card-content">Data, Python, and Culture</p>
            </a>
        </div>
        <div class="column">
            <a href="/projects" class="box card">
                <header class="card-header">
                    <h2 class="card-header-title">Projects</h2>
                    <span class="card-header-icon">
                        <i class="fas fa-rocket"></i>
                    </span>
                </header>
                <p class="card-content">What I'm Working On</p>
            </a>
        </div>
        <div class="column">
            <a href="/consulting" class="box card">
                <header class="card-header">
                    <h2 class="card-header-title">Consulting</h2>
                    <span class="card-header-icon">
                        <i class="fas fa-magic"></i>
                    </span>
                </header>
                <p class="card-content">Hire Me!</p>
            </a>
        </div>
        <div class="column">
            <a href="/about" class="box card">
                <header class="card-header">
                    <h2 class="card-header-title">About</h2>
                    <span class="card-header-icon">
                        <i class="fa fa-bullhorn"></i>
                    </span>
                </header>
                <p class="card-content">Who I Am and Why I'm Here</p>
            </a>
        </div>
    </nav>
</section>
