---
layout: base
---
<header class="hero is-primary is-medium">
  <hgroup class="hero-body has-text-centered">
  <h1 class="title is-1 is-spaced"><div class="logo">Oliver Sherouse</div></h1>
  <h2 class="subtitle is-3">at the intersection of public policy and data science</h2>
  </hgroup>
</header>
<section class="container">
  <nav class="frontnav columns is-tablet">
    <div class="column">
      <a href="/blog" class="box card">
        <header class="card-header">
          <h2 class="card-header-title">Blog</h2>
          <span class="card-header-icon">
            <i class="fas fa-bullhorn"></i>
          </span>
        </header>
        <p class="card-content">Data, Python, and Culture</p>
      </a>
    </div>
    <div class="column">
      <a href="/work" class="box card">
        <header class="card-header">
          <h2 class="card-header-title">Work</h2>
          <span class="card-header-icon">
            <i class="fas fa-rocket"></i>
          </span>
        </header>
        <p class="card-content">Things I Do and Things I've Done</p>
      </a>
    </div>
    <div class="column">
      <a href="/about" class="box card">
        <header class="card-header">
          <h2 class="card-header-title">About</h2>
          <span class="card-header-icon">
            <i class="fa fa-bullhorn"></i>
          </span>
        </header>
        <p class="card-content">Who I Am and Why I'm Here</p>
      </a>
    </div>
  </nav>
</section>
