---
layout: base
---
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><span class="logo">Oliver&nbsp;Sherouse</span></a>
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>     
        </div>
        <div class="navbar-menu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
              <a class="navbar-item" href="{{ "/blog" }}"><span class="icon"><i class="fas fa-bullhorn"></i></span>&nbsp;Blog </a>
              <a class="navbar-item" href="{{ "/projects" }}"><span class="icon"><i class="fas fa-rocket"></i></span>&nbsp;Projects</a>
              <a class="navbar-item" href="{{ "/consulting" }}"><span class="icon"><i class="fas fa-magic"></i></span>&nbsp;Consulting</a>
            <a class="navbar-item" href="{{ "/about" }}"><span class="icon"><i class="fas fa-coffee"></i></span>&nbsp;About</a>
          </div>
        </div>
    </div>
</nav>
<section class="container">
{{content}}
</section>
