---
layout: default
---

<nav id="navbar" class="pure-menu pure-menu-horizontal">
    <ul>
      <li class="pure-menu-item">
        <div id="namebox"><a href="/">Oliver Sherouse</a><span class="yarrow"></span><span class="xarrow"></span>
        </div>
      </li>
      <li class="pure-menu-item" id="smallnav"><a href="#"><span class="fa fa-bars"></span></a></li>
      <li class="pure-menu-item fullnav"><a href="{{ "/blog" |  prepend: site.baseurl}}"><span class="fa fa-bullhorn"></span>&nbsp;Blog</a></li>
      <li class="pure-menu-item fullnav"><a href="{{ "/projects" |  prepend: site.baseurl}}"><span class="fa fa-rocket"></span>&nbsp;Projects</a></li>
      <li class="pure-menu-item fullnav"><a href="{{ "/consulting" |  prepend: site.baseurl}}"><span class="fa fa-magic"></span>&nbsp;Consulting</a></li>
      <li class="pure-menu-item fullnav"><a href="{{ "/about" |  prepend: site.baseurl}}"><span class="fa fa-coffee"></span>&nbsp;About</a></li>
    </ul>
</nav>
<div id="content">
  {{content}}
</div>
