---
layout: default
---
<nav id="navbar">
  <a href="/" id="namebox">Oliver Sherouse<span class="yarrow"></span><span class="xarrow"></span></a>
  <a href="#" id="navexpand"><span class="fa fa-bars"></span></a>
  <ul id="fullnav">
    <li><a href="{{ "/blog" }}"><span class="fa fa-bullhorn"></span>&nbsp;Blog</a></li>
    <li><a href="{{ "/projects" }}"><span class="fa fa-rocket"></span>&nbsp;Projects</a></li>
    <li><a href="{{ "/consulting" }}"><span class="fa fa-magic"></span>&nbsp;Consulting</a></li>
    <li><a href="{{ "/about" }}"><span class="fa fa-coffee"></span>&nbsp;About</a></li>
  </ul>
</nav>
<div id="content">
  {{content}}
</div>
